// Smartphones
$screen-phone-min: 320px;
$screen-phone-max: 480px;

// iPads and Tablets
$screen-tablet-min: 481px;
$screen-tablet-max: 768px;

// Laptops and small screen
$screen-laptop-min: 769px;
$screen-laptop-max: 950px;

// Large screens and Desktops
$screen-desktop-min: 951px;
$screen-desktop-max: 1200px;

// TV and Extra Large Screens
$screen-tv-min: 1201px;

@mixin phones {
  @media only screen and (min-width: #{$screen-phone-min}) and (max-width: #{$screen-phone-max}) {
    @content;
  }
}

@mixin tablets {
  @media only screen and (min-width: #{$screen-tablet-min}) and (max-width: #{$screen-tablet-max}) {
    @content;
  }
}

@mixin laptops {
  @media only screen and (min-width: #{$screen-laptop-min}) and (max-width: #{$screen-laptop-max}) {
    @content;
  }
}

@mixin desktops {
  @media only screen and (min-width: #{$screen-desktop-min}) and (max-width: #{$screen-desktop-max}) {
    @content;
  }
}

@mixin tv {
  @media only screen and (min-width: #{$screen-tv-min}){
    @content;
  }
}