@import "./src/styles/breakpoints.scss";

.wrapper_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //padding: 0 264px 0 264px;
  padding: 0 10% 0 10%;
  @media screen and (max-width: $screen-laptop-max) {
    padding: 0 16px 0 16px;
  }
}


.cards_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 45px;
  padding-top: 28px;

  @media screen and (max-width: $screen-laptop-max) {
    align-items: normal;
    padding: initial;
    row-gap: 30px;
  }
}

.arrows_ark_group {
  display: flex;
  gap: 145px;

  @media screen and (max-width: $screen-laptop-max) {
    display: none;
  }
}

#first_card_row {
  margin-top: -45px;

  @media screen and (max-width: $screen-laptop-max) {
    margin-top: 0;
    padding-top: 30px;
  }
}

#second_card_row {
  padding-top: 0;
}

.cards_group_row {
  display: flex;
  flex-direction: row;
  gap: 35px;

  @media screen and (max-width: $screen-laptop-max) {
    flex-direction: column;
    gap: 30px;
  }
}

.row_card {
  box-sizing: border-box;
  width: 281px;
  height: 327px;
  background: rgba(34, 36, 57, 0.6);
  border: 1px solid #36394C;
  border-radius: 13px;

  @include phones {
    width: auto;
    height: 278px;
  }

  @media screen and (min-width: $screen-tablet-min) and (max-width: $screen-laptop-max) {
    width: auto;
    height: auto;
  }
}

.card_content {
  padding: 20px 15px 33px 20px;

  @include phones {
    padding: 20px 16px 26px 20px;
  }
}

.card_text_block {
  padding-top: 24px;
}

.arrow_rounded_left_layout {
  margin-right: -35px;
  margin-top: -45px;

  @media screen and (max-width: $screen-laptop-max) {
    display: none;
  }
}

.arrow_rounded_left_layout img {
  margin-right: -10px;
}

.arrow_rounded_right_layout {
  margin-left: -35px;
  margin-top: -45px;

  @media screen and (max-width: $screen-laptop-max) {
    display: none;
  }
}

.arrow_rounded_right_layout img {
  margin-left: -5px;
}

.text_block_title {
  width: 217px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #F5F8FC;
}

.text_block_description {
  padding-top: 12px;
  width: 246px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  display: flex;
  align-items: center;
  letter-spacing: -0.03em;
  color: rgba(245, 248, 252, 0.9);

  @include phones {
    width: auto;
  }
}

#sign_up_layout {
  @include phones {
  }
}

.sign_up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sign_up_button {
  width: 175px;
  height: 36px;
  background: linear-gradient(105.88deg, #092C3E 13.55%, #00E8EB 148.77%, #8BFFFF 285.75%);
  border: 1px solid rgba(245, 248, 252, 0.3);
  border-radius: 51px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #F5F8FC;

  @include phones {
    width: 100%;
  }
}

.sign_up_description {
  width: 376px;
  padding-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.03em;
  color: rgba(245, 248, 252, 0.9);

  @include phones {
    width: auto;
  }

}