.header {
  /*background: rgba(21, 37, 53, 0.42);*/
  position: sticky;
  top: 0;
  padding: 16px 0;
  z-index: 100;
  background-color: #202236;
  border-bottom: 1px solid #36394c;
  color: #f5f8fc;
}

@media screen and (max-width: 768px) {
  .header__signup {
    display: none;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 32px;
}
.header__nav li {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header__desktop_menu {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header__nav {
    font-size: 10px;
  }
}
.button_menu {
  display: block;
  position: relative;
  width: 29px;
  height: 16px;
  cursor: pointer;
}

.button_menu::before,
.button_menu::after,
.button_menu span {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.button_menu::before {
  top: 0;
}
.button_menu::after {
  bottom: 0;
}
.button_menu span {
  top: 50%;
  transform: translateY(-50%);
}
.active::before,
.active::after {
  background-color: transparent;
}
.active span {
  background-color: white;
  transform: rotate(45deg);
}
.active span::before,
.active span::after {
  background-color: white;
  width: 100%;
  height: 2px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.active span::before {
  top: 0;
  transform: rotate(90deg);
}
.active span::after {
  bottom: 0;
  transform: rotate(-90deg);
}
@media screen and (min-width: 768px) {
  .button_menu {
    display: none;
  }
}

.xui {
  display: block;
}
